<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<style>
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 300;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: royalblue;
        height: 70px;
        color: white;
        flex-wrap: wrap;
    }

    ul li {
        display: inline-block;
        margin: 10px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }

    li:hover {
        color: black;
        transition: all ease 0.500s;
    }

    input {
        width: 200px;
        padding: 7px;
        font-weight: 600;
        border: 1px solid black;
        outline: none;
    }

    .Form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        font-weight: 600;
        background-color: whitesmoke;
    }

    form h1 {
        margin-bottom: 10%;
    }

    button {
        width: 200px;
        background-color: royalblue;
        padding: 6px;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: white;
    }
</style>


<body>
    <header>
        <span>
            <h1>Delta</h1>
        </span>
        <span>
            <ul>
                <li><a href="http://127.0.0.1:3000/">Home</a></li>
                <li><a href="http://127.0.0.1:3000/login">Login</a></li>
            </ul>
        </span>
    </header>

    <main>
        <section>
            <div class="Form">
                <form action="/api/singup" method="post">
                    <h1>Sign Up</h1>
                    <input type="text" placeholder="Enter name" name="name" required /> <br> <br>
                    <input type="email" placeholder="Enter email" name="email" required /> <br> <br>
                    <input type="password" placeholder="Enter password" name="password" required /> <br><br>
                    <button>Sign Up</button><br><br>
                </form>
            </div>
        </section>
    </main>




</body>

</html>